body{
    background-image: url(./Mouse-wireless-in-oro-rosa-con-glitter-finto-elegante-e-chic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
   justify-content: center;
   margin-top: 140px;
}
img{
    filter: grayscale();
    width: 260px;
    border-radius: 8px;
}
img:hover{
    filter: none;
}
h1{
  font-family:Gabriola;  
  font-size:60px ;

}
h3{
    font-size: 20px;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.wish{
    background-color: rgba(166, 70, 86, 0.532);
    text-align: center;
    border-radius: 8px;
    padding:20px;
    margin-left: 10px;
}
